/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  background-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr; /* big image | stacked images */
  gap: 1rem;
  max-width: 1200px;
  margin: 2rem auto;
}

.column-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.column-2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.column-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container img {
  transition: transform 0.3s ease;
}

.container img:hover {
  transform: scale(1.05);
}



.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}
